@model Playground.Models.VisualizationViewModels.BackendPrintViewModel
@{
    ViewData["Title"] = "AJAX Test";
}

<h2>@ViewData["Title"].</h2>
<p>This is site for testing AJAX.</p>

<br />
<button style="float:left;margin-right:10px" class="btn btn-default" type="button" onclick="getText()">Request data</button>
<label id="plain_text"></label>
<br /><br />

<br />
<input style="float:left;margin-right:10px" id="number_input" class="form-control" />
<button style="float:left;margin-right:10px" class="btn btn-default" type="button" onclick="getTextNumber( document.getElementById('number_input').value)">Request data with number</button>
<label id="text_number"></label>
<br /><br />

<br />
<form>
    Meal: <input class="form-control" type="text" onkeyup="showHint(this.value)" />
</form>
<p>Suggestions: <span id="txtHint"></span></p>

<br />
<form>
    Meal: 
    <input list="meals_list" class="form-control" type="text" onkeyup="showHintList(this.value)" />
    <datalist id="meals_list">
        <option value="Test 1" />
        <option value="Test 2" />
        <option value="Test 3" />
    </datalist>
</form>

<br />
<button style="float:left;margin-right:10px" class="btn btn-default" type="button" onclick="getPage()">Request Page</button>
<button style="float:left;margin-right:10px" class="btn btn-default" type="button" onclick="getHomePage()">Request Home Page</button>
<br /><br />
<form class="form-inline">
    <input class="form-control" type="text" id="webURL" placeholder="Type URL" />
    <button class="btn btn-default" type="button" onclick="getAnyPage()">Any Page</button>
</form>
<br /><br />
<div id="ajax_page"></div>
<br />