@{
    ViewData["Title"] = "Visualiation";
}

<br /><br />
<li><a asp-area="" asp-controller="Visualization" asp-action="BaseExample">Base Example</a></li>
<li><a asp-area="" asp-controller="Visualization" asp-action="BackendExample">Backend Example</a></li>
<li><a asp-area="" asp-controller="Visualization" asp-action="JSPrint">JS Print</a></li>
<li><a asp-area="" asp-controller="Visualization" asp-action="BackendPrint">Backend Print</a></li>